${common}

logParam.sub_type = "login";
logParam.message = "start login";
EXTZLOG("login", "start");

main();
function main() {
    EXTZLOG("login", "main");
    /*if (precheck()) return;*/
    ${loginScript}
};
function precheck() {};